
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #222;
    background: #f6f7fb;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 2rem;
    background: #4e72df;
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navlinks a {
    margin-left: 1.5rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.navlinks a:hover {
    color: #6dff99;
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

.herotext {
    width: 50%;
}

.heroimg img {
    width: 280px;
    border-radius: 50%;
    box-shadow: 0 0 20px #3334;
    height: 250px;
}



/* ABOUT */
.about, .skills, .projects, .contact {
    padding: 2.5rem;
    text-align: center;
}

/* SKILLS GRID */
.skillsgrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
    line-height: 2;
}

.card {
    background: white;
    padding: 1.5rem;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 0 10px #0002;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-6px);
}


.projectsgrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1.2rem;
}

.projectcard {
    background: white;
    padding: 1.2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px #0003;
    transition: 0.3s;
}

.projectcard:hover {
    transform: scale(1.04);
}

/* CONTACT FORM */
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 450px;
    margin: auto;
}

input, textarea {
    padding: 0.8rem;
    border-radius: 8px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

.btn {
    background: #4e72df;
    color: white;
    padding: 0.8rem;
    border:none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #3c59bb;
}


#backtotop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 0.7rem 1rem;
    background: #4e72df;
    color: white;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}

/* FOOTER */
footer {
    background: #4e72df;
    color: white;
    padding: 1.2rem;
    text-align: center;
    margin-top: 2rem;
    
}

/* MEDIA QUERIES */
/* Tablets */
@media (max-width: 900px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-text, .hero-img {
        width: 100%;
    }
}

/* Phones */
@media (max-width: 600px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .nav-links a {
        display: inline-block;
        margin: 0.5rem;
    }

    .hero-img img {
        width: 180px;
    }
}
